<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogFile="C:/CS_Programs/LearnNote/Logs/internal-log.txt"
	  internalLogLevel="Trace"
	  throwConfigExceptions="true">

	<targets>
		<target name="async" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="10" batchSize="100" overflowAction="Discard">
			<target xsi:type="File" name="jsonFile" fileName="../../../../../../Logs/log-${shortdate}.log">
				<layout xsi:type="JsonLayout" indentJson="true">
					<attribute name="time" layout="${longdate}" />
					<attribute name="level" layout="${level}" />
					<attribute name="message" layout="${message}" />
					<attribute name="properties" encode="false" >
						<layout xsi:type="JsonLayout" indentJson="true" includeEventProperties="true" maxRecursionLimit="5" />
					</attribute>
					<attribute name="exception" encode="false">
						<layout xsi:type="JsonLayout">
							<attribute name="type" layout="${exception:format=type}" />
							<attribute name="message" layout="${exception:format=message}" />
							<attribute name="stacktrace" layout="${exception:format=tostring}" />
						</layout>
					</attribute>
				</layout>
			</target>
		</target>
		<target xsi:type="Console" name="logConsole">
			<layout xsi:type="JsonLayout" indentJson="true" >
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${message}" />
				<attribute name="properties" encode="false" >
					<layout xsi:type="JsonLayout" indentJson="true" includeEventProperties="true" maxRecursionLimit="5" />
				</attribute>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="jsonFile" />
		<logger name="*" levels="Debug, Info" writeTo="logConsole" />
	</rules>
</nlog>